<div class="login-form">

<%= form_tag login_path, class: 'border border-light p-5' do %>

  <p class="h4 mb-4 text-center">Log In</p>

  <% if flash[:error].present? %>
        <p class="alert alert-danger p-2 text-center"><%= flash[:error] %></p>
      <% end %>

  <div class="login-form-email">
  <%= label_tag :email %>
  <br>
  <%= email_field_tag :email, "minters@test.co", :class => "form-control mb-4" %>
  </div>
  <br>

  <div class="login-form-pw">
  <%= label_tag :password %>
  <br>
  <%= password_field_tag :password, 'chicken', :class => "form-control mb-4", :placeholder => 'Password' %>
  </div>
  <br>

  <%= submit_tag 'Login', :class => "btn btn-info btn-block my-4" %>

  <p class="text-center">
        Don't have an account?
        <%= link_to "Sign Up", new_user_path %>
      </p>

<% end %>


</div> <!-- class="login-form" -->
