<h1> <%= @user.name %> </h1>

<%= link_to 'Edit Account', edit_user_path(@user.id) %>
|
<%= link_to 'Delete Account', user_path(@user.id), method: 'delete' %>

<p><strong>Company Name</strong>: <%= @user.name %></p>
<p><strong>Email Address</strong>: <%= @user.email %></p>
<p><strong>Contact Number</strong>: <%= @user.contact %></p>
<p><strong>Address</strong>: <%= @user.address %></p>
