<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Team Hangry</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="mainNavBar">
    
    <h1> <%= link_to 'Team Hangry', root_path %> </h1>
    <!-- <h1> Team Hangry</h1> -->

    <header>
      <nav class="navLinks">
        <% if @current_user.present? %>
          Hello, <%= @current_user.name %>

          <% if @current_user %>
          |
          <%= link_to 'Foodie Spots', restaurants_path %>
          |
          <%= link_to 'Suggest a restaurant', new_restaurant_path %>
          <% end %>
          |
          <%= link_to 'Logout', login_path, method: 'delete' %>
        <% else %>
          <%= link_to 'Login', login_path %>
          |
          <%= link_to 'Sign Up', new_user_path %>

        <% end %>
      </nav>
    </div>

      <hr>
    </header>


    <%= yield %>
    <footer class="mainFooter">

      &copy; IrenekMac Productions, 2020
    </footer>
  </body>
</html>
